* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div#esquerda {
    width: 35%;
    float: left;
}

div#esquerda div {
    background-color: lightgray;
    margin-bottom: 2px;
    min-height: 110px;
    padding: 25px;
}

p#nome {
    font-size: 20px;
}

p#cargo-alvo {
    font-size: 16px;
}

ul#contato {
    font-size: 12px;
}

div#esquerda li {
    list-style: none;
    line-height: 28px;
}

li#mail {
    background: url("assets/images/mail.png") no-repeat left 1px;
    padding-left: 3em;
}

li#phone {
    background: url("assets/images/telefone.png") no-repeat left 1px;
    padding-left: 3em;
}

li#endereco {
    background: url("assets/images/mapa.png") no-repeat left 1px;
    padding-left: 3em;
}

li#github {
    background: url("assets/images/github.png") no-repeat left 1px;
    padding-left: 3em;
}

li#linkedin {
    background: url("assets/images/linkedin.png") no-repeat left 1px;
    padding-left: 3em;
}

div#esquerda p#titulo {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

p#universidade-nome {
    font-size: 12px;
    font-weight: bold;
}

p#universidade-local {
    font-size: 12px;
    margin-bottom: 10px;
}

p#universidade-curso {
    font-size: 12px;
    margin-bottom: 10px;
}

#item-esquerda {
    font-size: 12px;
    margin-bottom: 10px;
}

div#direita {
    padding: 30px 30px 30px 370px;
    /* margin-left: 300px; */
}

div#direita p#titulo {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid lightgrey;
}

div#direita p#objetivo {
    font-size: 12px;
    margin-bottom: 20px;
    text-align: justify;
}

div#direita p#cargo {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

div#direita p#empresa {
    font-size: 12px;
    margin-bottom: 10px;
}

div#direita li {
    margin-left: 15px;
    font-size: 12px;
    margin-bottom: 10px;
}